.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.all { /*a sur toute l'img ou svg*/
  @include absolute-position();
}

html {
  font-size: 16px;
  margin: 0;
}
@media (min-width: 749px) {
  html {
    font-size: 18px;
  }
}

body {
  //@include text-body;
  scroll-behavior: smooth;
  color: $dark_color;
  line-height: 1.2;
}
.layout {
  padding-top: rem(130); //80 + 50
}

.empty {

}

h1 {
  @include h1-title;
}

h1.page__title {
}

h2 {
  font-size: rem($h2);
  @include h2-title;
}

h3 {
  @include h3-title;
}

a {
  color: $dark_color;
  text-decoration: none;
}

.button {
  @include button()
}

/*@font-face {
  font-family: "Calibre";
  src: url("../fonts/Calibre.woff") format("woff");
  src: url("../fonts/Calibre.woff2") format("woff2");
  font-display: swap;
}*/



h1, h2, h3, h4, a, p, input, label, dd, dt, span, textarea {
  color: $dark_color;
}
p, .header a, li, input, dd, a, textarea {
  font-family: Georgia, serif;
}
p {
  line-height: 1.5;
}
label, .button, h1, h2, h3, h4 {
  font-family: Raleway, sans-serif;
}
.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.hidden.show {
  opacity: 1;
  transform: none;

}
.hidden {
  transition: ease-in-out .5s;
  opacity: 0;
  transform: translateY(2em);
}
