.contact-section {
  position: relative;
  height: rem(126);
  @include flex(center);
  //@include global-spacing;

  &__container {
  }

  &__content {
    @include margin-auto();
    display: inline-block;
    font-size: rem($h2);
    text-align: center;
  }

  &__link {
    font-size: rem($h2);
    position: relative;
    transition:all 0.5s;

    &:before {
      content:" ";
      display:block;
      position:absolute;
      bottom:0;
      margin:0 auto;
      transition:all 0.5s;
      z-index:-1;
      border-bottom:solid 3px $dark_color;
      width: 100%;
      left: 0;
      //width:0;
      //left:50%;
    }

    &:hover, &:focus {
      /*transition: .2s ease-in;
      border-bottom:solid 3px #000;
      width: 100%;
      left: 0;*/
    }
  }

}

@media (max-width: 789px) {
  .contact-section {
    @include global-spacing;
  }
}