.lang {
  &__container {
    position: relative;
    display: inline-flex;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid $dark_color;
    margin: auto auto auto .5rem;
    cursor: pointer;
    @include absolute-position($left: 1.3rem);

  }

  .arrow-up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid black;
    margin: auto auto auto .5rem;
    cursor: pointer;
    @include absolute-position($left: 1.3rem);

  }


  &__current {
    color: $dark_color;
    text-decoration: none;
    transition: all 0.4s;
    position: relative;
    padding-right: 1.3rem;

    &:hover, &:focus {
      color: $main_color;
    }

  }

  &__other {
    z-index: -1;
    text-decoration: none;
    position: absolute;
    right: -50%;
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    transform: translateY(1.75rem);
    transition: transform 200ms ease-out, opacity 200ms ease-out;
    box-shadow: $dark_color 0 1px 4px -2px;
  }

  .lang__li {
    min-width: 80px;
  }

  &__li + &__li {
    margin-top: 1rem;

  }

  .nav__locale {
    //backdrop-filter: blur(1px);
    //padding: calc(1rem / 2);
    padding: 0.5rem 1.5rem;
    background-color: white;
    transition: all 0.2s;
    text-decoration: none;
    min-width: 80px;

    &:hover, &:focus {
      color: $dark_color;
      background-color: $light-grey;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
      transition: .2s ease-in;
    }

    .current__lang {
      background-color: #F3F3F3FF;
    }
  }

  &__hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-15rem);
    transition: transform 200ms ease-out, opacity 200ms ease-out;
  }
  &__img{
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.45;
  }
}